body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-primary
{
    color: #3693ff;
}

a
{
    color: #fff;
}

.side{
   margin: 10px 120px;
    width: 80%;
}

#main {
    background-color:  #333;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 50px 300px;
    width: 45%;
}

#num1 {
    border: 1px solid black;
    text-align: center;
    background-color: rgba(#dcdcdc, 800, 100, 50, 10);
    padding: 10px;
    width: 70%;
}

.convert{
    color: white;
    border: 1px solid black;
    margin: 10px 130px;
    display: block;
    background-color: #3693ff;
    text-transform: capitalize;
    font-size: 20px;
    padding: 6px;
    width: 25%;
}

::placeholder{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
}


.show{
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    display: block;
}

.tab{
    margin: 40px 100px;
    background-color: beige;
    border-collapse: collapse;
    text-align: center;
    width: 30vw;
    /* position: relative; */
    /* margin: 0 auto; */
}
tr th, tr td{
    padding: 0.15rem;
    border: 1px solid black;
}

.new{
    text-transform: uppercase;
    font-weight: bold;
}
